openapi: 3.1.0
info:
  title: WCA API (certificates subset)
  description: Minimal WCA API surface used by wca-certificates
  version: 0.1.0
servers:
  - url: https://www.worldcubeassociation.org/api
    description: Production API server
paths:
  /v1/competitions/{competitionId}/live/podiums:
    get:
      summary: Gets Information about the Podiums of the Live Results
      tags:
        - live
      operationId: livePodiums
      parameters:
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns podiums with round information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LiveRound"
  /v0/competitions/{competitionId}/podiums:
    get:
      summary: Returns the podium results
      tags:
        - competitions
      operationId: competitionPodiums
      parameters:
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Result"
        "404":
          $ref: "#/components/responses/CompetitionNotFound"
  /v0/competitions/{competitionId}/results:
    get:
      summary: Returns all results
      operationId: resultsByCompetition
      parameters:
        - name: competitionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Results"
components:
  schemas:
    WcifAttemptResult:
      type: integer
    WcifRanking:
      type: integer
    WcifPercent:
      type: integer
    WcifTimeLimit:
      type: object
      properties:
        centiseconds:
          type: integer
        cumulativeRoundIds:
          type: array
          items:
            type: string
      required:
        - centiseconds
        - cumulativeRoundIds
    WcifCutoff:
      type: object
      properties:
        numberOfAttempts:
          type: integer
        attemptResult:
          $ref: "#/components/schemas/WcifAttemptResult"
      required:
        - numberOfAttempts
        - attemptResult
    WcifAdvancementConditionRanking:
      type: object
      properties:
        type:
          type: string
        level:
          $ref: "#/components/schemas/WcifRanking"
      required:
        - type
        - level
    WcifAdvancementConditionPercent:
      type: object
      properties:
        type:
          type: string
        level:
          $ref: "#/components/schemas/WcifPercent"
      required:
        - type
        - level
    WcifAdvancementConditionAttemptResult:
      type: object
      properties:
        type:
          type: string
        level:
          $ref: "#/components/schemas/WcifAttemptResult"
      required:
        - type
        - level
    WcifAdvancementCondition:
      oneOf:
        - $ref: "#/components/schemas/WcifAdvancementConditionRanking"
        - $ref: "#/components/schemas/WcifAdvancementConditionPercent"
        - $ref: "#/components/schemas/WcifAdvancementConditionAttemptResult"
      discriminator:
        propertyName: type
        mapping:
          ranking: "#/components/schemas/WcifAdvancementConditionRanking"
          percent: "#/components/schemas/WcifAdvancementConditionPercent"
          attemptResult: "#/components/schemas/WcifAdvancementConditionAttemptResult"
    WcifScramble:
      type: string
    WcifScrambleSet:
      type: object
      properties:
        id:
          type: integer
        scrambles:
          type: array
          items:
            $ref: "#/components/schemas/WcifScramble"
        extraScrambles:
          type: array
          items:
            $ref: "#/components/schemas/WcifScramble"
      required:
        - id
        - scrambles
        - extraScrambles
    BaseWcifRound:
      type: object
      properties:
        id:
          type: string
        format:
          type: string
        timeLimit:
          $ref: "#/components/schemas/WcifTimeLimit"
        cutoff:
          $ref: "#/components/schemas/WcifCutoff"
        advancementCondition:
          $ref: "#/components/schemas/WcifAdvancementCondition"
        scrambleSetCount:
          type: integer
        scrambleSets:
          type: array
          items:
            $ref: "#/components/schemas/WcifScrambleSet"
        extensions:
          type: array
      required:
        - id
        - format
        - results
        - scrambleSetCount
        - scrambleSets
        - extensions
    LiveAttempt:
      type: object
      required:
        - value
        - attempt_number
      properties:
        value:
          type: integer
        attempt_number:
          type: integer
    BaseLiveResult:
      type: object
      required:
        - registration_id
        - best
        - average
        - single_record_tag
        - average_record_tag
        - advancing
        - advancing_questionable
        - attempts
        - last_attempt_entered_at
      properties:
        registration_id:
          type: integer
        best:
          type: integer
        average:
          type: integer
        single_record_tag:
          type: string
        average_record_tag:
          type: string
        advancing:
          type: boolean
        advancing_questionable:
          type: boolean
        attempts:
          type: array
          items:
            $ref: "#/components/schemas/LiveAttempt"
        last_attempt_entered_at:
          type: string
          format: datetime
    RoundLiveResult:
      allOf:
        - $ref: "#/components/schemas/BaseLiveResult"
        - type: object
          required:
            - global_pos
            - local_pos
            - round_wcif_id
          properties:
            round_wcif_id:
              type: string
            global_pos:
              type: integer
            local_pos:
              type: integer
    LiveCompetitor:
      type: object
      required:
        - id
        - registrant_id
        - name
        - country_iso2
        - user_id
      properties:
        id:
          type: number
        registrant_id:
          type: number
        user_id:
          type: number
        name:
          type: string
        country_iso2:
          type: string
    LiveRound:
      allOf:
        - $ref: "#/components/schemas/BaseWcifRound"
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: "#/components/schemas/RoundLiveResult"
            competitors:
              type: array
              items:
                $ref: "#/components/schemas/LiveCompetitor"
            round_id:
              type: number
            state_hash:
              type: string
            linked_round_ids:
              type: array
              items:
                type: string
          required:
            - results
            - competitors
            - round_id
            - state_hash
    Result:
      type: object
      required:
        - id
        - pos
        - best
        - average
        - name
        - country_iso2
        - competition_id
        - event_id
        - round_type_id
        - format_id
        - wca_id
        - attempts
        - best_index
        - worst_index
        - regional_single_record
        - regional_average_record
      properties:
        id:
          type: integer
        pos:
          type: integer
        best:
          type: integer
        average:
          type: integer
        name:
          type: string
        country_iso2:
          type: string
        competition_id:
          type: string
        event_id:
          type: string
        round_type_id:
          type: string
        format_id:
          type: string
        wca_id:
          type: string
        attempts:
          type: array
          items:
            type: integer
        best_index:
          type: integer
        worst_index:
          type: integer
        regional_single_record:
          type: string
          nullable: true
        regional_average_record:
          type: string
          nullable: true
    Results:
      type: array
      items:
        $ref: "#/components/schemas/Result"
    General404:
      type: object
      required:
        - error
        - data
      properties:
        error:
          type: string
        data:
          type: object
          required:
            - model
            - id
          properties:
            model:
              type: string
            id:
              type: string
    Competition404:
      allOf:
        - $ref: "#/components/schemas/General404"
        - type: object
          properties:
            data:
              type: object
              required:
                - model
                - id
              properties:
                model:
                  type: string
                  enum:
                    - Competition
                id:
                  type: string
  responses:
    CompetitionNotFound:
      description: Competition not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Competition404"
